<div class="row justify-content-center">
  <div class="col-8">
    <div id="cohort-card" class="card-group">
      <div class="card text-center">
        <div class="card-body">
            <h4><%= @cohort.name %></h4><br>
            <% if @cohort.instructor != nil %>
            <p>Instructor: <%= @cohort.instructor.f_name %> <%= @cohort.instructor.l_name %></p>
            <% end %>
            <p>Start Date: <%= @cohort.start_date %></p>
            <p>End Date: <%= @cohort.end_date %></p><br>
            <%= link_to 'Edit Cohort', edit_cohort_path, remote: false, data: {turbolinks: 'false'}, class: 'card-link' %>
        </div>
      </div>
      <% if @cohort.students != nil %>
      <div class="card text-center">
        <div class="card-body">
          <h4>
            Students
          </h4><br>
            <% @cohort.students.each do |s| %>
            <a data-turbolinks="false" href="/students/<%=s.id%>"><span><%= s.f_name %> <%= s.l_name %></span></a><br>
            <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
