<div class="form-group">
<%= f.text_field :f_name, :placeholder => "First Name" %>
</div>
<div class="form-group">
<%= f.text_field :l_name, :placeholder => "Last Name" %>
</div>
<div class="form-group">
<%= f.number_field :age, :placeholder => "Age"  %>
</div>
<div class="form-group">
<%= f.collection_select(:cohort_id, Cohort.all, :id, :name, {prompt: 'Select Cohort'}) %>
</div>
<div class="form-group">
<%= f.select(:rank, @ranks.each, {prompt: 'Select Rank'})  %>
</div>
