<h1>Edit Student Info</h1>
<%= form_for(@student) do |f| %>
<p><%= f.text_field :f_name, :placeholder => "First Name" %></p>
<p><%= f.text_field :l_name, :placeholder => "Last Name" %></p>
<p><%= f.number_field :age, :placeholder => "Age"  %></p>
<p><%= f.collection_select(:cohort_id, Cohort.all, :id, :name) %></p>
<p><%= f.select(:rank, ["White","Blue","Purple","Brown"])  %></p>
<p><%= f.submit 'Edit Student' %></p>
<% end %>
