
<div class="row justify-content-center">
  <div class="col-4">
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title"><%= @student.f_name %> <%= @student.l_name %></h4>
      </div>
      <ul class="list-group list-group-flush">
        <p>Rank: <%= @student.rank %></p>
        <p>Age: <%= @student.age %></p>
        <% if @student.cohort.nil? %>
        <p>Cohort: N/A </p>
        <% else %>
        <p>Cohort: <%= @student.cohort.name %></p>
        <% end %>
      </ul>
      <div class="card-body">
        <%= link_to 'Edit Student Info', edit_student_path, data: {turbolinks: 'false'}, class: "card-link" %>
      </div>
    </div>
  </div>
</div>
