
<div class="row justify-content-center">
  <div class="col-4">
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title"><%= @instructor.f_name %> <%= @instructor.l_name %></h4>
        </div>
        <ul class="list-group list-group-flush">
          <p>Rank: <%= @instructor.rank %></p>
          <p>Age: <%= @instructor.age %></p>
          <% if @instructor.cohort.nil? %>
          <p>Cohort: N/A </p>
          <% else %>
          <p>Cohort: <%= @instructor.cohort.name %></p>
          <% end %>
          <p>Salary: <%= number_to_currency(@instructor.salary, precision: 0) %></p>
        </ul>
      <div class="card-body">
        <%= link_to 'Edit Instructor Info', edit_instructor_path, data: {turbolinks: 'false'}, class: "card-link" %>
      </div>
    </div>

  </div>

</div>
