
<div class="row justify-content-center">
  <div class="col-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title"><%= @instructor.f_name %> <%= @instructor.l_name %></h5>
        <h6 class="card-subtitle mb-2"><%= @instructor.rank %></h6><br>
        <p>AGE: <%= @instructor.age %></p>
        <% if @instructor.cohort.nil? %>
        <p>COHORT: N/A </p>
        <% else %>
        <p>COHORT: <%= @instructor.cohort.name %></p>
        <% end %>
        <p>SALARY: <%= number_to_currency(@instructor.salary, precisiom: 0) %></p>
      </div>
      <div class="card-body">
        <%= link_to 'Edit', edit_instructor_path, class: "card-link" %>
        <%= link_to 'Remove Instructor', @instructor, class: "card-link", method: :delete, remote: true, data: {confirm: "Click OK to remove #{@instructor.f_name} #{@instructor.l_name}"}  %>
      </div>
    </div>

  </div>

</div>
