<h1 class="text-center">Courses</h1>
<a class="btn btn-success float-right" href="/courses/new">Add Course</a><br><br>
<table class='table table-sm table-bordered text-center''>
  <tr class='thead'>
    <th>Course Name</th>
    <th>Total Hours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr><tr>
    <%= form_for (@course) do |f| %>
    <td><%= f.text_field :name %></td>
    <td><%= f.number_field :total_hours %></td>
    <td><%= f.submit %></td>
    <% end %>
  </tr>
<% @courses.order(created_at: :desc).each do |c| %>
<tr id="<%= c.id %>">
  <td><%= c.name %></td>
  <td><%= number_with_delimiter(c.total_hours) %></td>
  <td><%= link_to 'Remove', c, method: :delete, remote: true, data: {confirm: "Click OK to remove #{c.name}"}  %></td>
  <td><%= link_to 'Edit', edit_course_path(c.id) %></td>
  <td><%= link_to 'Show', c %></td>
</tr>
<% end %>
</table>
