<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if session[:user_id] %>
      <nav>
        <ul class='nav shadow justify-content-end'>
          <li class='nav-item'><a class='nav-link' href="/cohorts">Cohorts</a></li>
          <li class='nav-item'><a class='nav-link' href="/courses">Courses</a></li>
          <li class='nav-item'><a class='nav-link' href="/instructors">Instructors</a></li>
          <li class='nav-item'><a class='nav-link' href="/students">Students</a></li>
          <li class='nav-item'><a class='nav-link' href="/logout">Logout</a></li>
        </ul>
      <% end %>
    </nav>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
