<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user_id] != nil %>
    <nav>
      <ul class='nav shadow justify-content-end'>
        <li class='nav-item'><%= link_to 'Cohorts', cohorts_path, class: 'nav-link'%></li>
        <li class='nav-item'><%= link_to 'Courses', courses_path, class: 'nav-link'%></li>
        <li class='nav-item'><%= link_to 'Instructors', instructors_path, class: 'nav-link'%></li>
        <li class='nav-item'><%= link_to 'Students', students_path, class: 'nav-link'%></li>
        <li class='nav-item'><%= link_to 'Logout', '/logout', class: 'nav-link'%></li>
    </nav>
    <% end %>

    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
