<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
  </head>

  <body>
    <% if session[:user_id] != nil %>
    <nav>
      <ul class='nav shadow justify-content-end'>
        <li class='nav-item'><a href="/cohorts" class="nav-link" data-turbolinks="false">Cohorts</a></li>
        <li class='nav-item'><a href="/courses" class="nav-link" data-turbolinks="false">Courses</a></li>
        <li class='nav-item'><a href="/instructors" class="nav-link" data-turbolinks="false">Instructors</a></li>
        <li class='nav-item'><a href="/students" class="nav-link" data-turbolinks="false">Students</a></li>
        <li class='nav-item'><a href="/logout" class="nav-link" data-turbolinks="false">Logout</a></li>
    </nav>
    <% end %>

    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
